
@model IEnumerable<MvcAuth.Models.EventTbl>
<div class="row d-flex justify-content-center">
   
        <table class="table table-striped table-hover table-bordered">
            <tr>

                <th>
                    <label>Event name</label>
                </th>
                <th>
                    <label>Event Content</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
<tr>


    <td>
        @Html.DisplayFor(modelItem => item.Event_Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Event_Content)
    </td>
    <td>


        @Html.ActionLink("Delete", "DeleteEvent", new { id = item.Event_ID })

    </td>

</tr>}

        </table>


    </div>
