@model IEnumerable<MvcAuth.Models.ExamTbl>
@using MvcAuth.Models;

@{ ViewBag.Title = "AvaliableExam";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    UniversityDBEntities1 Db = new UniversityDBEntities1(); }

<br />
<br />
<div class="container">
    @if (Model.Count() == 0)
    {

<p class="text-center text-muted" style="font-size:20px"> No Exams </p> }
else
{

foreach (var item in Model)
{

    var Questions = Db.QuestionsTbls.Where(a => a.Ex_ID == item.Ex_ID);
    var Exam = Db.ExamTbls.Single(a => a.Ex_ID == item.Ex_ID);


    int TotalDegQue = Questions.Sum(a => (int?)a.Degree) ?? 0;
    int TotalDegExam = Exam.Ex_Total;
    if (TotalDegQue == TotalDegExam)
    {

        if (item.Ex_End_On <= DateTime.Now)
        {
<div class="card text-center" style="float: left;width: 250px; margin:20px;">
    <div class="card-header">
        <p style="font-size:15px">@Html.DisplayFor(modelItem => item.Ex_Name)</p>
    </div>
    <div class="card-body">
        @Html.ActionLink("Start Exam", "StartExam", "Students", new { id = item.Ex_ID }, new { @class = "btn btn-danger" })
        <p class="text-bold">  Non Avaliable  </p>
    </div>
</div> }
else
{
int idCurrentStudent = Convert.ToInt32(Session["StudentID"]);
var Cousrse = Db.RegisterCoursesTbls.Where(a => a.IsApprove == true && a.St_ID == idCurrentStudent);
if (Cousrse.SingleOrDefault(a => a.Course_ID == item.Course_ID) != null)
{


<div class="card text-center" style="float: left;width: 250px; margin:20px;">
    <div class="card-header">
        <p style="font-size:15px">@Html.DisplayFor(modelItem => item.Ex_Name)</p>
    </div>
    <div class="card-body">
        @Html.ActionLink("Start Exam", "StartExam", "Students", new { id = item.Ex_ID }, new { @class = "btn btn-danger" })
        <p class="text-success">  Avaliable  </p>
    </div>
</div>}

}

}


}
}
</div>