@model MvcAuth.Models.PostTbl

@{ ViewBag.Title = "Delete Post";
                Layout = "~/Views/Shared/_LayoutStudent.cshtml"; }

<hr />
<a href="@Url.Action("Navigation","Students")" class="btn-link h3" style="color: #df4759">Back To Posts > </a> <span class="h3 text-dark">Delete Post</span><hr />
<h3>Are you sure you want to delete this?</h3>
<div>
    @using (Html.BeginForm("DeletePost", "Students", FormMethod.Post))
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-dark" />
                </div>}
</div>
