<div class="container my-3">
    <div class="row">
        <section class="col-md-12">
            <div class="card border-dark">

                <div class="card-body">
                    <h1 class="card-header text-center bg-dark">Welcome Back</h1>
                    <p class="card-text" style="color: black">

                        @Html.ActionLink("Create course", "CreateCourse", "Admin") <br />
                        @Html.ActionLink("Specify course to proffessor ", "ProfCourse", "Admin")<br />
                        @Html.ActionLink("Add Events", "AddEvents", "Professor")<br />
                        @Html.ActionLink("Chat", "Index", "Chat") <br />






                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
