<div class="container my-3">
    <div class="row">
        <section class="col-md-12">
            <div class="card border-dark">

                <div class="card-body">
                    <h1 class="card-header text-center bg-dark">Welcome Back</h1>
                    <p class="card-text" style="color: black">
                        @Html.ActionLink("Upload lectures", "FileUpload", "Professor") <br />
                        @Html.ActionLink("Upload Videos", "UploadVideo", "Professor") <br />
                        @Html.ActionLink("Create QR Code", "ActionQrCode", "Admin") <br />
                        @Html.ActionLink("Chat With Us", "Index", "Chat") <br />




                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
