

    @{
    ViewBag.Title = "RoleUI";
 }

<h2>RoleUI</h2>

<form action="/Account/CreateRole" method="post">
    <table>
        <tr>
            <td>Role Name</td>
            <td><input type="text" name="rolename" class="form-control" /></td>
        </tr>
        

        <tr>

            <td></td>

            <td><input type="submit" value="Create New" class="btn btn-success" /></td>
        </tr>
    </table>
</form>
