<div class="container my-3">
    <div class="row">
        <section class="col-md-12">
            <div class="card border-dark">

                <div class="card-body">
                    <h1 class="card-header text-center bg-dark">Welcome Back</h1>
                    <p class="card-text" style="color: black">

                        @Html.ActionLink("Attendance", "Absence", "Students") <br />

                        @Html.ActionLink("Chat With Us", "Index", "Chat") <br />

                        @Html.ActionLink("Lectures pdf", "Lectures", "Students") <br />

                        @Html.ActionLink("Lectures videos", "videos", "Students") <br />



                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
